@model StadionStats.Models.Game

@{
    ViewData["Title"] = "Admin - Slet kamp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="ex-header-admin">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Slet kamp</h1>
            </div>
        </div>
    </div>
</header>
<!-- Breadcrumb -->
<div class="breadcrumbs-admin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text">
                    <a href="/">Forside</a><i class="fa fa-angle-double-right"></i><span>Administration</span><i class="fa fa-angle-double-right"></i><a href="/Games">Kampe</a><i class="fa fa-angle-double-right"></i><span>Slet kamp</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Er du sikker på at du vil slette kampen?</h4>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HomeTeam)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HomeTeam.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AwayTeam)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AwayTeam.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HomeScore)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HomeScore)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.GuestScore)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.GuestScore)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Attendance)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Attendance)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Liga)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Liga.Navn)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Stadion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Stadion.StadionID)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Slet" class="btn btn-danger" /> |
                    <a asp-action="Index">Tilbage til oversigt</a>
                </form>
                <br /><br />
            </div>
        </div>
    </div>
</div>
