@model List<StadionStats.ViewModels.BrugerRollerViewModel>

@{
    var userID = ViewBag.userID;
    ViewData["Title"] = "Admin - Tilføj eller fjern roller til brugeren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="ex-header-admin">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Tilføj eller fjern roller til brugeren</h1>
            </div>
        </div>
    </div>
</header>

<!-- Breadcrumb -->
<div class="breadcrumbs-admin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text">
                    <a href="/">Forside</a><i class="fa fa-angle-double-right"></i><span>Administration</span><i class="fa fa-angle-double-right"></i><a href="/Administration/Brugere">Brugere</a><i class="fa fa-angle-double-right"></i><a asp-action="RedigerBruger" asp-route-id="@userID">Rediger Bruger</a><i class="fa fa-angle-double-right"></i><a href="#">Rediger brugerens roller</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model[i].RoleId" />
                        <input type="hidden" asp-for="@Model[i].RoleName" />
                        <input asp-for="@Model[i].IsSelected" />
                        <label asp-for="@Model[i].IsSelected">
                            @Model[i].RoleName
                        </label><br />

                    }
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Opdater">
                    <a asp-action="RedigerBruger" asp-route-id="@userID">Annuller</a>
                </div>
            </form>
            <br /><br />
        </div>
    </div>
</div>