@model IEnumerable<StadionStats.Models.Liga>

@{
    ViewData["Title"] = "Ligaer og pokalturneringer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Ligaer og pokalturneringer</h1>
            </div>
        </div>
    </div>
</header>

<!-- Breadcrumb -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text">
                    <a href="/">Forside</a><i class="fa fa-angle-double-right"></i><span>Statistik</span><i class="fa fa-angle-double-right"></i><span>Ligaer og pokalturneringer</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team overview -->
<div class="stadionspec-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                @foreach (var item in Model)
                {
                    <div class="stadionspec">
                        @if (item.Logo != null)
                            {
                            <a asp-action="Liga" asp-route-id="@item.LigaID"><img class="stadionspec-image" src="~/images/logo/@Html.DisplayFor(modelItem => item.Logo)" alt="@Html.DisplayFor(modelItem => item.Navn)"></a>
                            }
                            else
                            {
                            <a asp-action="Liga" asp-route-id="@item.LigaID"><img class="stadionspec-image" src="~/images/logo/missing.png" alt="Logo mangler"></a>
                                }
                                <div class="stadionspec-body">
                                    <a asp-action="Liga" asp-route-id="@item.LigaID">@Html.DisplayFor(modelItem => item.Navn)</a>
                                    <p>@Html.DisplayFor(modelItem => item.Land.Landenavn)</p>
                                    @await Component.InvokeAsync("LigaStatSimple", new { ligastatID = item.LigaID })

                                </div>
</div>
                }
            </div>
        </div>
    </div>
</div>